@model List<drugStore7.Core.Models.Product>

@{
    ViewBag.Title = "گالری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header text-center" style="background-image: url('Content/client/assets/images/page-header-bg-0.jpg')">
    <div class="container">
        <h1 class="page-title">گالری </h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
            <li class="breadcrumb-item"><a href="#">صفحات</a></li>
            <li class="breadcrumb-item active" aria-current="page"></li>گالری</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="container mt-4">
    <div class="text-center">
        <button class="btn mybtn-default filter-button" data-filter="all">همه</button>
        <button class="btn mybtn-default filter-button" data-filter="hdpe">داروخانه</button>
        <button class="btn mybtn-default filter-button" data-filter="sprinkle">لوازم بهداشتی</button>
        <button class="btn mybtn-default filter-button" data-filter="spray">مراقبت از پوست</button>
    </div>
    <div class="row justify-content-center align-items-center">


        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <img src="Content/client/pic/g1.jpg" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <img src="Content/client/pic/g2.jpg" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <img src="Content/client/pic/g3.jpg" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <img src="Content/client/pic/g4.jpg" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <img src="Content/client/pic/g5.jpg" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <img src="Content/client/pic/g6.jpg" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <img src="Content/client/pic/g7.jpg" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <img src="Content/client/pic/g8.jpg" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <img src="Content/client/pic/g9.jpg" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <img src="Content/client/pic/g10.jpg" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <img src="Content/client/pic/g11.jpg" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <img src="Content/client/pic/g12.jpg" class="img-responsive">
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');

                if (value == "all") {
                    //$('.filter').removeClass('hidden');
                    $('.filter').show('1000');
                }
                else {
                    //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
                    //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");

        });
    </script>
}