@*@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">


<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>سه شین</title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="image/x-icon" href="/Content/client/images/fav-icon.png" rel="icon">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/Content/client/css/xpoge.css">
    <link rel="stylesheet" type="text/css" href="/Content/client/css/responsive.css">
</head>
<body class="text-right">
    <!-- Start preloader -->
    <div id="preloader"></div>
    <!-- End preloader -->
    <!-- Search Screen start -->
    <div class="sidebar-search-wrap">
        <div class="sidebar-table-container">
            <div class="sidebar-align-container">
                <div class="search-closer right-side"></div>
                <div class="search-container">
                    <form method="get" id="search-form">
                        <input type="text" id="s" class="search-input" name="s" placeholder="جستجو کنید">
                    </form>
                    <span>محصول مورد نظر را جستجو کنید</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Screen end -->

    <div class="main">
        <!-- Header start -->
        <header id="header">
            <div class="container position-r">
                <div class="row m-0">
                    <div class="col-lg-3 col-md-4 col-4 p-0">
                        <div class="navbar-header">
                            <a class="navbar-brand page-scroll" href="/">
                                <img alt="" src="/Content/client/images/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-8 p-0 position-initial">
                        <div class="left-side">
                            <button data-target=".navbar-collapse" data-toggle="collapse"
                                    class="navbar-toggle d-block d-lg-none d-xl-none" type="button">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="overlay"></div>
                            <div class="header-right-link">
                                <ul>
                                    <li class="search-box">
                                        <a href="#"><span></span></a>
                                    </li>
                                    <li class="account-icon">
                                        <a href="#"><span></span></a>
                                        <div class="header-link-dropdown account-link-dropdown">
                                            <ul class="link-dropdown-list">
                                                <li>
                                                    <span class="dropdown-title">خوش آمدید</span>
                                                    <ul>
                                                        <li><a href="/Home/Login">ورود</a></li>
                                                        <li><a href="/Home/Register">ثبت نام</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                    <li class="cart-icon">
                                        <a href="#" class="buy"> <span> <small class="cart-notification">0</small> </span> </a>
                                        <div class="cart-dropdown header-link-dropdown">
                                            <ul class="cart-list link-dropdown-list">
                                            </ul>
                                            <p class="cart-sub-totle">
                                                <span class="pull-right">مبلغ کل</span>
                                                <span class="pull-left">
                                                    <strong class="price-box cart-total-price">0 تومان</strong>
                                                </span>
                                            </p>
                                            <div class="clearfix"></div>
                                            <div class="mt-20">
                                                <a href="/Home/Wishlist" class="btn-color btn">سبدخرید</a>
                                                <a href="/Home/Checkout" class="btn-color btn left-side">پرداخت </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="menu" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="level">
                                        <a href="/" class="nav-link">صفحه اصلی</a>
                                    </li>
                                    <li class="level dropdown">
                                        <span class="opener plus"></span>
                                        <a href="/Home/Shop" class="nav-link">عطر زنانه</a>
                                        <div class="megamenu mobile-sub-menu">
                                            <div class="megamenu-inner-top">
                                                <ul class="sub-menu-level1">
                                                    <li class="level2 ">
                                                        <a href="/Home/Shop"><span>برند های شناخته شده</span></a>
                                                        <ul class="sub-menu-level2">
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>Gucci
                                                                    EDP
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>لانکوم مدل
                                                                    پوئم
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>تام
                                                                    فورد
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>سان شاین
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop"><span>■</span>جورجیو</a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>coco
                                                                    شنل
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                    <li class="level2 d-none d-lg-block">
                                                        <a href="#" class="m-0">
                                                            <img src="/Content/client/images/drop_banner3.jpg" alt="">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="level dropdown">
                                        <span class="opener plus"></span>
                                        <a href="/Home/Shop" class="nav-link">عطر مردانه</a>
                                        <div class="megamenu mobile-sub-menu">
                                            <div class="megamenu-inner-top">
                                                <ul class="sub-menu-level1">
                                                    <li class="level2 ">
                                                        <a href="/Home/Shop"><span>برند های شناخته شده</span></a>
                                                        <ul class="sub-menu-level2">
                                                            <li class="level3">
                                                                <a href="/Home/Shop"><span>■</span>آکوا دی جیو</a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href=/Home/Shop">
                                                                    <span>■</span>بلو د
                                                                    شنل
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>پاکا
                                                                    رابن
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>میشل
                                                                    کورس
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>جورجیو
                                                                    آرمانی
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop"><span>■</span>دیور</a>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                    <li class="level2 d-none d-lg-block">
                                                        <a href="#" class="m-0">
                                                            <img src="/Content/client/images/drop_banner4.jpg" alt="">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="level">
                                        <a href="/Home/Blog" class="nav-link">بلاگ</a>
                                    </li>
                                    <li class="level">
                                        <a href="/Home/Contact" class="nav-link">تماس با ما</a>
                                    </li>
                                    <li class="level">
                                        <a href="/Home/Guide" class="nav-link">راهنمایی آنلاین</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header end -->
        <!-- Product list contant start -->
        <div class="contant">
            <div id="banner-part" class="banner inner-banner">
                <div class="container">
                    <div class="bread-crumb-main">
                        <h1 class="banner-title">دسته بندی ها</h1>
                        <div class="breadcrumb">
                            <ul class="inline">
                                <li><a href="/">خانه</a></li>
                                <li>دسته بندی ها</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ptb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-4 col-xl-3">
                            <div class="sidebar mb-md-30">
                                <div class="sidebar-default sidebar-banner d-none d-lg-block">
                                    <a href="javascript:void(0)">
                                        <img src="/Content/client/images/sidebar-banner.jpg" alt="">
                                    </a>
                                </div>
                                <div class="sidebar-category sidebar-default">
                                    <div class="category-content">
                                        <h2 class="cat-title">دسته بندی ها</h2>
                                        <ul class="pl-0 mb-0">
                                            <li><a href="#">مردانه</a></li>
                                            <li><a href="#">زنانه</a></li>
                                            <li><a href="#">کلاسیک</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sidebar-default">
                                    <div class="category-content">
                                        <h2 class="cat-title">فیلتر بر اساس</h2>
                                        <a class="btn btn-color small btn-filter mb-20" href="#"><i class="fa fa-close"></i><span>حذف همه</span></a>
                                        <div class="mb-20">
                                            <div class="inner-title">برند</div>
                                            <ul>
                                                <li>
                                                    <div class="check-box">
                                                        <span>
                                                            <input type="checkbox" class="checkbox" id="type1" name="type1">
                                                            <label for="type1">coco چنل <span>(05)</span></label>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="check-box">
                                                        <span>
                                                            <input type="checkbox" class="checkbox" id="type2" name="type2">
                                                            <label for="type2">آکوا دی جیو <span>(02)</span></label>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="check-box">
                                                        <span>
                                                            <input type="checkbox" class="checkbox" id="type3" name="type3">
                                                            <label for="type3">سان شاین <span>(07)</span></label>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="check-box">
                                                        <span>
                                                            <input type="checkbox" class="checkbox" id="type4" name="type4">
                                                            <label for="type4">جورجیو <span>(03)</span></label>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mb-20">
                                            <div class="inner-title">قیمت</div>
                                            <ul>
                                                <li>
                                                    <div class="check-box">
                                                        <span>
                                                            <input type="checkbox" class="checkbox" id="price1" name="price1">
                                                            <label for="price1">68،000 تومان - 72،000 تومان <span>(02)</span></label>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="check-box">
                                                        <span>
                                                            <input type="checkbox" class="checkbox" id="price2" name="price2">
                                                            <label for="price2">86،000 تومان - 90،000 تومان <span>(13)</span></label>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="check-box">
                                                        <span>
                                                            <input type="checkbox" class="checkbox" id="price3" name="price3">
                                                            <label for="price3">90،000 تومان - 103،000 تومان <span>(08)</span></label>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="check-box">
                                                        <span>
                                                            <input type="checkbox" class="checkbox" id="price4" name="price4">
                                                            <label for="price4">104،000 تومان - 108،000 تومان <span>(04)</span></label>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="check-box">
                                                        <span>
                                                            <input type="checkbox" class="checkbox" id="price5" name="price5">
                                                            <label for="price5">109،000 تومان - 113،000 تومان <span>(09)</span></label>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-default sidebar-banner d-none d-lg-block">
                                    <a href="javascript:void(0)">
                                        <img src="/Content/client/images/sidebar-banner.jpg" alt="">
                                    </a>
                                </div>
                                <div class="sidebar-default">
                                    <div class="sidebar-product">
                                        <h2 class="cat-title">آخرین محصولات</h2>
                                        <ul>
                                            <li>
                                                <div class="pro-media">
                                                    <a href="/Home/Product">
                                                        <img alt=""
                                                             src="/Content/client/images/1.jpg">
                                                    </a>
                                                </div>
                                                <div class="pro-detail-info">
                                                    <a href="/Home/Product"
                                                       class="product-title">
                                                        عطر زنانه برند coco چنل
                                                        زنانه
                                                    </a>
                                                    <div class="price-box">
                                                        <span class="price">165،000 تومان</span>
                                                        <del class="price old-price">70،0001 تومان</del>
                                                    </div>
                                                    <div class="cart-link">
                                                        <form>
                                                            <button title="افزودن به سبد خرید">افزودن به سبد خرید</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pro-media">
                                                    <a href="/Home/Product">
                                                        <img alt="T-shirt"
                                                             src="/Content/client/images/2.jpg">
                                                    </a>
                                                </div>
                                                <div class="pro-detail-info">
                                                    <a href="/Home/Product"
                                                       class="product-title">
                                                        عطر مردانه برند جورجیو
                                                    </a>
                                                    <div class="price-box"><span class="price">180،000 تومان</span></div>
                                                    <div class="cart-link">
                                                        <form>
                                                            <button title="افزودن به سبد خرید">افزودن به سبد خرید</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pro-media">
                                                    <a href="/Home/Product">
                                                        <img alt=""
                                                             src="/Content/client/images/1.jpg">
                                                    </a>
                                                </div>
                                                <div class="pro-detail-info">
                                                    <a href="/Home/Product"
                                                       class="product-title">
                                                        عطر زنانه برند coco چنل
                                                        زنانه
                                                    </a>
                                                    <div class="price-box">
                                                        <span class="price">165،000 تومان</span>
                                                        <del class="price old-price">70،0001 تومان</del>
                                                    </div>
                                                    <div class="cart-link">
                                                        <form>
                                                            <button title="افزودن به سبد خرید">افزودن به سبد خرید</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 col-xl-9">
                            <div class="shorting mb-30">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="view">
                                            <div class="list-types grid">
                                                <a href="/Home/Shop">
                                                    <div class="grid-icon list-types-icon"></div>
                                                </a>
                                            </div>
                                            <div class="list-types list active">
                                                <a href="/Home/Shoplist">
                                                    <div class="list-icon list-types-icon"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="short-by float-right-md">
                                            <span>مرتب سازی</span>
                                            <div class="select-item">
                                                <select>
                                                    <option value="" selected="selected">اسم محصول</option>
                                                    <option value="">محبوب ترین ها</option>
                                                    <option value="">قیمت از زیاد به کم</option>
                                                    <option value="">قیمت از کم به زیاد</option>
                                                    <option value="">پر فروش ها</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="show-item left-side float-left-md">
                                            <span>نمایش</span>
                                            <div class="select-item">
                                                <select>
                                                    <option value="" selected="selected">24</option>
                                                    <option value="">12</option>
                                                    <option value="">6</option>
                                                </select>
                                            </div>
                                            <span>هر صفحه</span>
                                            <div class="compare float-right-sm">
                                                <a href="#" class="btn btn-color">مقایسه (0)</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-section list-view">
                                <div class="row">
                                    <div class="col-6 col-sm-12">
                                        <div class="product-item">
                                            <figure>
                                                <div class="product-image">
                                                    <div class="sale-label"><span>تخفیف</span></div>
                                                    <a href="/Home/Product">
                                                        <img class="cart-item-image" src="/Content/client/images/1.jpg" alt="">
                                                    </a>
                                                </div>
                                                <figcaption>
                                                    <div class="product-details-outer">
                                                        <div class="product-details">
                                                            <div class="product-title">
                                                                <a href="/Home/Product">
                                                                    عطر زنانه coco چنل
                                                                </a>
                                                            </div>
                                                            <div class="price-box">
                                                                <span class="price">150،000 تومان</span>
                                                                <del class="price old-price">200،000 تومان</del>
                                                            </div>
                                                            <div class="product-des d-none d-sm-block">
                                                                <p>
                                                                    coco چنل یکی از بهترین عطر های زناه است که می توان در بازار پیدا کرد .
                                                                    مطمئن باشید که پس از خرید این محصول پشمیون نخواهید شد.
                                                                </p>
                                                            </div>
                                                            <div class="product-details-btn d-none d-sm-block">
                                                                <ul>
                                                                    <li class="icon cart-icon add-to-cart">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="icon wishlist-icon">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="icon compare-icon">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-12">
                                        <div class="product-item">
                                            <figure>
                                                <div class="product-image">
                                                    <a href="/Home/Product">
                                                        <img class="cart-item-image" src="/Content/client/images/2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <figcaption>
                                                    <div class="product-details-outer">
                                                        <div class="product-details">
                                                            <div class="product-title">
                                                                <a href="/Home/Product">عطر مردانه</a>
                                                            </div>
                                                            <div class="price-box">
                                                                <span class="price">98،000 تومان</span>
                                                            </div>
                                                            <div class="product-des d-none d-sm-block">
                                                                <p>
                                                                    این عطر یکی از بهترین عطر هایی است که هر مرد خوش پوشی خوش بویی می تواند داشته باشد
                                                                </p>
                                                            </div>
                                                            <div class="product-details-btn d-none d-sm-block">
                                                                <ul>
                                                                    <li class="icon cart-icon add-to-cart">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="icon wishlist-icon">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="icon compare-icon">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-12">
                                        <div class="product-item">
                                            <figure>
                                                <div class="product-image">
                                                    <div class="sale-label"><span>تخفیف</span></div>
                                                    <a href="/Home/Product">
                                                        <img class="cart-item-image" src="/Content/client/images/1.jpg" alt="">
                                                    </a>
                                                </div>
                                                <figcaption>
                                                    <div class="product-details-outer">
                                                        <div class="product-details">
                                                            <div class="product-title">
                                                                <a href="/Home/Product">
                                                                    عطر زنانه coco چنل
                                                                </a>
                                                            </div>
                                                            <div class="price-box">
                                                                <span class="price">150،000 تومان</span>
                                                                <del class="price old-price">200،000 تومان</del>
                                                            </div>
                                                            <div class="product-des d-none d-sm-block">
                                                                <p>
                                                                    coco چنل یکی از بهترین عطر های زناه است که می توان در بازار پیدا کرد .
                                                                    مطمئن باشید که پس از خرید این محصول پشمیون نخواهید شد.
                                                                </p>
                                                            </div>
                                                            <div class="product-details-btn d-none d-sm-block">
                                                                <ul>
                                                                    <li class="icon cart-icon add-to-cart">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="icon wishlist-icon">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="icon compare-icon">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-12">
                                        <div class="product-item">
                                            <figure>
                                                <div class="product-image">
                                                    <a href="/Home/Product">
                                                        <img class="cart-item-image" src="/Content/client/images/2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <figcaption>
                                                    <div class="product-details-outer">
                                                        <div class="product-details">
                                                            <div class="product-title">
                                                                <a href="/Home/Product">عطر مردانه</a>
                                                            </div>
                                                            <div class="price-box">
                                                                <span class="price">98،000 تومان</span>
                                                            </div>
                                                            <div class="product-des d-none d-sm-block">
                                                                <p>
                                                                    این عطر یکی از بهترین عطر هایی است که هر مرد خوش پوشی خوش بویی می تواند داشته باشد
                                                                </p>
                                                            </div>
                                                            <div class="product-details-btn d-none d-sm-block">
                                                                <ul>
                                                                    <li class="icon cart-icon add-to-cart">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="icon wishlist-icon">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="icon compare-icon">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-12">
                                        <div class="product-item">
                                            <figure>
                                                <div class="product-image">
                                                    <div class="sale-label"><span>تخفیف</span></div>
                                                    <a href="/Home/Product">
                                                        <img class="cart-item-image" src="/Content/client/images/1.jpg" alt="">
                                                    </a>
                                                </div>
                                                <figcaption>
                                                    <div class="product-details-outer">
                                                        <div class="product-details">
                                                            <div class="product-title">
                                                                <a href="/Home/Product">
                                                                    عطر زنانه coco چنل
                                                                </a>
                                                            </div>
                                                            <div class="price-box">
                                                                <span class="price">150،000 تومان</span>
                                                                <del class="price old-price">200،000 تومان</del>
                                                            </div>
                                                            <div class="product-des d-none d-sm-block">
                                                                <p>
                                                                    coco چنل یکی از بهترین عطر های زناه است که می توان در بازار پیدا کرد .
                                                                    مطمئن باشید که پس از خرید این محصول پشمیون نخواهید شد.
                                                                </p>
                                                            </div>
                                                            <div class="product-details-btn d-none d-sm-block">
                                                                <ul>
                                                                    <li class="icon cart-icon add-to-cart">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="icon wishlist-icon">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="icon compare-icon">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-12">
                                        <div class="product-item">
                                            <figure>
                                                <div class="product-image">
                                                    <a href="/Home/Product">
                                                        <img class="cart-item-image" src="/Content/client/images/2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <figcaption>
                                                    <div class="product-details-outer">
                                                        <div class="product-details">
                                                            <div class="product-title">
                                                                <a href="/Home/Product">عطر مردانه</a>
                                                            </div>
                                                            <div class="price-box">
                                                                <span class="price">98،000 تومان</span>
                                                            </div>
                                                            <div class="product-des d-none d-sm-block">
                                                                <p>
                                                                    این عطر یکی از بهترین عطر هایی است که هر مرد خوش پوشی خوش بویی می تواند داشته باشد
                                                                </p>
                                                            </div>
                                                            <div class="product-details-btn d-none d-sm-block">
                                                                <ul>
                                                                    <li class="icon cart-icon add-to-cart">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="icon wishlist-icon">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="icon compare-icon">
                                                                        <a href="#">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shorting center-md">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="pagination-bar">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="show-item left-side float-none-md">
                                            <span class="float-none-md d-block">نمایش 1 از 15 صفحه</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product list contant end -->
        <!-- Newslatter section start -->
        <!-- Newslatter section end -->
        <!-- Footer section start -->
        <footer class="footer-part footer-border">
            <div class="container">
                <div class="footer-top ptb-100">
                    <div class="mb_-30">
                        <div class="row">
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="footer-about mb-sm-30">
                                    <div class="footer-logo">
                                        <a href="#">
                                            <img src="/Content/client/images/logo.png" alt="logo">
                                        </a>
                                    </div>
                                    <p class="footer-p">
                                        گالری سه شین با جمع آوری بهترین نوع عطر ها از بهترین برند ها با
                                        بهترین قیمت سعی در به دست آوردن هر چه بیشتر رضایت مشتریان خود دارد
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="footer-static-block">
                                    <span class="opener plus"></span>
                                    <h3 class="head-three">اطلاعات</h3>
                                    <ul class="footer-menu footer-block-contant">
                                        <li><a href="#">تماس با ما</a></li>
                                        <li><a href="javascript:void(0)">برند ها</a></li>
                                        <li><a href="#">بلاگ</a></li>
                                        <li><a href="javascript:void(0)">شرایط و قوانین</a></li>
                                        <li><a href="javascript:void(0)">حریم خصوصی</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="footer-static-block">
                                    <span class="opener plus"></span>
                                    <h3 class="head-three">حساب کاربری</h3>
                                    <ul class="footer-menu footer-block-contant">
                                        <li><a href="javascript:void(0)">تاریخچه سفارش ها</a></li>
                                        <li><a href="#">علاقه مندی ها</a></li>
                                        <li><a href="javascript:void(0)">تخفیف ها</a></li>
                                        <li><a href="javascript:void(0)">هدایای ویژه</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="footer-static-block">
                                    <span class="opener plus"></span>
                                    <h3 class="head-three">تماس با ما</h3>
                                    <div class="contact-box footer-block-contant">
                                        <ul>
                                            <li>
                                                <div class="contact-thumb">
                                                    <img src="/Content/client/images/address-icon.svg" alt="">
                                                </div>
                                                <div class="contact-box-detail">
                                                    <p>
                                                        خیابان میرزای شیرازی جنوبی بین کوچه 20 و 22 پلاک 166 گالری سه شین
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="contact-thumb">
                                                    <img src="/Content/client/images/phone-icon.svg" alt="">
                                                </div>
                                                <div class="contact-box-detail">
                                                    <p>09381982109</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="contact-thumb">
                                                    <img src="/Content/client/images/mail-icon.svg" alt="">
                                                </div>
                                                <div class="contact-box-detail">
                                                    <p><a href="#">info@gmail.com</a></p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom align-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="w-100">
                                <p class="mb-0">
                                    طراحی شده توسط<a href="https://www.spad.co/"
                                                     target="_blank" title="Spad"> اسپاد</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="social-media">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer section end -->
    </div>

    <script src="/Content/client/js/jquery-3.4.1.min.js"></script>
    <script src="/Content/client/js/custom.js"></script>
    <script src="/Content/client/js/store.js"></script>

</body>


</html>*@
