@{
    ViewBag.Title = "علاقه مندی ها";
}
@*<div class="contant">
    <div id="banner-part" class="banner inner-banner">
        <div class="container">
            <div class="bread-crumb-main">
                <h1 class="banner-title">علاقه مندی ها</h1>
                <div class="breadcrumb">
                    <ul class="inline">
                        <li><a href="/">خانه</a></li>
                        <li>علاقه مندی ها</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ptb-100">
        <div class="container">
            <div class="cart-item-table commun-table">
                <div class="table-responsive" id="WishListTable">
                    @Html.Action("WishListTable", "Shop")
                </div>
            </div>
        </div>
    </div>
</div>*@


<main class="main">
    <div class="page-header text-center" style="background-image: url('/Content/client/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">لیست علاقه مندی<span>فروشگاه</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                <li class="breadcrumb-item"><a href="#">فروشگاه</a></li>
                <li class="breadcrumb-item active" aria-current="page">لیست علاقه مندی</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            @Html.Action("WishListTable", "Shop")

            <div class="wishlist-share">
                @Html.Action("SocialsSection", "Shop")
            </div><!-- End .wishlist-share -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->