@{
    ViewBag.Title = "ورود به پنل کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg extra">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <!-- breadcrumb inner -->
                    <div class="left-content-area">
                        <!-- left content area -->
                        <h1 class="title">ورود</h1>
                    </div><!-- //. left content area -->
                    <div class="right-content-area">
                        <ul>
                            <li><a href="/">خانه</a></li>
                            <li>ورود</li>
                        </ul>
                    </div>
                </div><!-- //. breadcrumb inner -->
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->

@if (!string.IsNullOrEmpty(ViewBag.LoginError))
{
    <div class="container margin-top-50">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-warning">
                    <span class="text-danger">@ViewBag.LoginError</span>
                </div>
            </div>
        </div>
    </div>
}
@Html.Action("LoginPartial", "Auth", new { area = "Customer" })


<style>
    .field-validation-error span {
        color: darkred;
    }
</style>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
