@model Seshin.Web.ViewModels.CartModel
@{
    ViewBag.Title = "سبد خرید";
}
<div class="contant">
    <div id="banner-part" class="banner inner-banner">
        <div class="container">
            <div class="bread-crumb-main">
                <h1 class="banner-title">سبد خرید</h1>
                <div class="breadcrumb">
                    <ul class="inline">
                        <li><a href="/">خانه</a></li>
                        <li>سبد خرید</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ptb-100">
        <div id="CartTable">
            @Html.Action("CartTable","Shop",new {area = ""})
        </div>
    </div>
</div>