

<div class="container opts-wrapper">

    <div class="row">

        <div class="col-xs-12 col-md-4">

            <div class="opt-section">

                <div class="opt-right">
                    <span class="opt-icon-wrapper">
                        <i class="fas fa-store"></i>
                    </span>
                </div>

                <div class="opt-left">

                    <div class="opt-header">
                        خرید امن و راحت
                    </div>

                    <div class="opt-desc">
                        تمامی پرداخت ها در سه شین با استفاده از درگاه های مستقیم، امن و معتبر بانک های عضو شبکه شتاب صورت خواهد گرفت .
                    </div>

                </div>

            </div>

        </div>



        <div class="col-xs-12 col-md-4">

            <div class="opt-section">

                <div class="opt-right">
                    <span class="opt-icon-wrapper">
                        <i class="fa fa-heart"></i>
                    </span>
                </div>

                <div class="opt-left">

                    <div class="opt-header">
                        جلب رضایت مشتریان
                    </div>

                    <div class="opt-desc">
                        فروشگاه اینترنتی سه شین با ارائه محصولات معتبر ، شناخته شده و نیز با تضمین اصالت و کیفیت کالا به دنبال جلب رضایت شما مشتریان عزیز است.
                    </div>

                </div>

            </div>

        </div>



        <div class="col-xs-12 col-md-4">

            <div class="opt-section">

                <div class="opt-right">
                    <span class="opt-icon-wrapper">
                        <i class="fas fa-shipping-fast"></i>
                    </span>
                </div>

                <div class="opt-left">

                    <div class="opt-header">
                        ارسال سریع و رایگان
                    </div>

                    <div class="opt-desc">
                        ما در فروشگاه سه شین محصولات خریداری شده شما را در سریع ترین زمان ممکن و به کمک شرکت های حمل و نقل امن به دست شما می رسانیم. همچنین چنانچه مبلغ فاکتور بیش از 2,000,000 ریال باشد ارسال محموله رایگان خواهد بود.
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
