@model Seshin.Web.ViewModels.ContactUsViewModel

<footer class="footer-part footer-border">
    <div class="container">
        <div class="footer-top ptb-100">
            <div class="mb_-30">
                <div class="row">
                    <div class="col-12 col-lg-3 col-md-6">
                        <div class="footer-about mb-sm-30">
                            <div class="footer-logo">
                                <a href="/">
                                    <img src="~/Content/client/images/bottomLogo.png" alt="logo">
                                </a>
                            </div>
                            <p class="footer-p">
                                گالری سه شین با جمع آوری بهترین نوع عطر ها از بهترین برند ها با
                                بهترین قیمت سعی در به دست آوردن هر چه بیشتر رضایت مشتریان خود دارد
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6">
                        <div class="footer-static-block">
                            <span class="opener plus"></span>
                            <h3 class="head-three">اطلاعات</h3>
                            <ul class="footer-menu footer-block-contant">
                                <li><a href="/ContactUs">تماس با ما</a></li>
                                <li><a href="javascript:void(0)">برند ها</a></li>
                                <li><a href="/Blog">بلاگ</a></li>
                                <li><a href="javascript:void(0)">شرایط و قوانین</a></li>
                                <li><a href="javascript:void(0)">حریم خصوصی</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6">
                        <div class="footer-static-block">
                            <span class="opener plus"></span>
                            <h3 class="head-three">حساب کاربری</h3>
                            <ul class="footer-menu footer-block-contant">
                                <li><a href="/Customer/Dashboard/Invoices">تاریخچه سفارش ها</a></li>
                                <li><a href="javascript:void(0)">تخفیف ها</a></li>
                                <li><a href="javascript:void(0)">هدایای ویژه</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6">
                        <div class="footer-static-block">
                            <span class="opener plus"></span>
                            <h3 class="head-three">تماس با ما</h3>
                            <div class="contact-box footer-block-contant">
                                <ul>
                                    <li>
                                        <div class="contact-thumb">
                                            <img src="/Content/client/images/address-icon.svg" alt="">
                                        </div>
                                        <div class="contact-box-detail">
                                            <p>
                                                خیابان میرزای شیرازی جنوبی بین کوچه 20 و 22 پلاک 166 گالری سه شین
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-thumb">
                                            <img src="/Content/client/images/phone-icon.svg" alt="">
                                        </div>
                                        <div class="contact-box-detail">
                                            <p><a href="tel:@Model.Phone">@Model.Phone</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-thumb">
                                            <img src="/Content/client/images/mail-icon.svg" alt="">
                                        </div>
                                        <div class="contact-box-detail">
                                            <p><a href="mailto://@Model.Email">@Model.Email</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom align-center">
            <div class="row">
                <div class="col-12">
                    <div class="w-100">
                        <p>
                            <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=194443&amp;Code=wSxTrsl4FwtayWjy3t2o"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=194443&amp;Code=wSxTrsl4FwtayWjy3t2o" alt="Nemad" style="cursor:pointer" id="wSxTrsl4FwtayWjy3t2o"></a>
                        </p>
                        <p class="mb-0">
                            طراحی شده توسط<a href="https://www.spad.co/"
                                             target="_blank" title="Spad">اسپاد</a>
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="social-media">
                        <ul>
                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
